{% extends 'base.html.twig' %}

{% block title %}
	Citations de
	{{ character }}
{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
	<div class="container-fluid my-4">
		<div class="mx-4">
			<h2 class="text-center mb-4">{{ character }}</h2>
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" data-masonry='{"percentPosition": true,  "itemSelector": ".col" }'>
				{% for quote in characterQuotes.citation %}
					<div class="col mb-4">
						<div class="card rounded-3 border-0">
							<div class="card-header">
								{{ quote.infos.saison}}
							</div>
							<div class="card-body p-4">
								<figure>
									<blockquote class="blockquote">
										<p>{{ quote.citation|raw }}</p>
									</blockquote>
									<figcaption class="blockquote-footer">
										Épisode :
										<cite>
											{{ quote.infos.episode }}
										</cite>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
