<header>
	<!-- Background image -->
	<div class="p-5 text-center bg-image" style="background-image: url('{{ asset('assets/img/bg.jpg')}}');height: 600px;">
		<div class="d-flex justify-content-center align-items-center h-100">
			<div class="text-white bg-dark p-4 rounded-1 opacity-75">
				<h1>{{ randomQuote.citation.infos.saison }}</h1>
				<figure class="text-center">
					<blockquote class="blockquote">
						<p>{{ randomQuote.citation.citation|raw }}</p>
					</blockquote>
					<figcaption class="blockquote-footer text-white">
						<cite title="Source Title">{{ randomQuote.citation.infos.personnage }}</cite>
						dans l'épisode
						<cite title="Source Title">{{ randomQuote.citation.infos.episode }}</cite>
					</figcaption>
					<a class="btn btn-outline-light btn-lg" href="{{ path('app_quote')}}" role="button">Nouvelle citation</a>
				</figure>
			</div>
		</div>
	</div>
	<!-- Background image -->
</header>
