{% extends 'base.html.twig' %}

{% block title %}
	Toutes les citations
{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
	<div class="container-fluid my-4">
		<div class="mx-4">
			<h2 class="text-center mb-4">Toutes les citations</h2>
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" data-masonry='{"percentPosition": true,  "itemSelector": ".col" }'>
				{% for quote in quotes.citation %}
					<div class="col mb-4">
						<div class="card rounded-3 border-0">
							<div class="card-body p-4">
								<div class="row">
									<div class="col-sm-2 col-md-4">
										<img class="rounded-circle" src="{{ images[quote.infos.personnage] }}" alt="Card image cap" width="100%">
									</div>
									<div class="col-8">
										<figure>
											<blockquote class="blockquote">
												<p>{{ quote.citation|raw }}</p>
											</blockquote>
											<figcaption class="blockquote-footer">
												{{ quote.infos.personnage }}
												dans l'épisode
												<cite>
													{{ quote.infos.episode }}
													({{ quote.infos.saison }})
												</cite>
											</figcaption>
										</figure>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
